**.swp
**.swo
.Rproj.user
arc/
log/mat/
log/mat/spin-log/cal/
log/space/dev/dev/
log/space/dev/epi/
log/space/dev/pro/
log/space/dev/rev/
log/space/epi/
log/space/β/
log/space/bio/
log/space/ocu/w/
log/space/reed/
log/space/loc/log/
