**.swp
**.swo
.Rproj.user
arc/
log/mat/
log/mat/spin-log/cal/
log/space/dev/dev/
log/space/dev/epi/
log/space/dev/pro/
log/space/dev/rev/
log/space/epi/epi/
log/space/β/
log/space/ocu/log/
log/space/reed/w/
log/space/loc/log/
log/space/csp/log/
log/space/csp/noto/
log/space/lab/log/
