**.swp
**.swo
.Rproj.user
arc/
log/mat/
log/mat/spin-log/cal/
log/space/dev/dev/
log/space/dev/epi/
log/space/dev/pro/
log/space/dev/rev/
log/space/epi/epi/
log/space/β/
log/space/ocu/w/
log/space/reed/bio/
log/space/reed/doc/
log/space/reed/edu/
log/space/reed/inf/
log/space/reed/jul/
log/space/reed/lus/
log/space/reed/ocu/
log/space/reed/pol/
log/space/reed/vid/
log/space/reed/web/
log/space/loc/log/
